body {
    font-family: arial, sans-serif;
    color: #424242;
    background: #fff;
    line-height: 1.3;
    min-width: 998px;
    margin: 0;
    padding: 0;
}

.container {
    width: 998px;
    margin: 0 auto;
}

header {
    margin: 0 0 0 0 ;
}

h1 {
    margin: 0;
    height: auto;
    display: inline-block;
}

.logo a i {
    background-image: url(../img/logo.png);
    display: inline-block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    vertical-align: middle;
}

.logo a {
    text-decoration: none;
    font-size: 37px;
    color: #424242;
}

nav {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
}

ul {
    padding: 0;
}

li {
    padding: 26px;
}

ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #424242;
}

.background-image {
    background-image: url(../img/main-pic.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.project-item h2{
    text-align: center;
    margin: 0;
    /*padding: 138px 0 217px;*/
    font-size: 48px;

}
